.new-tweet {
  display: flex;
  flex-direction: column;
  width: 84%
}

.display-hidden{
  display:none;
}

.display-visible{
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 6px solid red;
  color: red;
  margin-top: 30px;
}

#tweet-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 20px;
}

#tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  
}

button:hover{
  border: 2px solid black;
}

#tweet-text {
  width: 100%;
  border-width: 0 0 3px 0;
  outline: none;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #545149;
}

.tweet-message {
  word-wrap: break-word;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#tweet-text-label {
  font-weight: bold;
 
}